/* Navbar */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 2px;
  height: auto;
  position: sticky; /* Make it sticky on top */
  top: 0;
  z-index: 1000;
}

nav img {
  width: 55px;
  transition: transform 0.3s;
}

nav img:hover {
  transform: scale(1.15);
}

/* Search Input */
.custom-input {
  width: 300px;
  height: 40px;
  padding: 12px;
}

/* Clean button inside the input */
.custom-input .ant-input-clear-icon {
  font-size: 20px;
  height: 26px;
}

/* Home/Favorites */
nav ul {
  list-style-type: none;
  display: flex;
  gap: 35px;
  align-items: center;
  font-size: 16px;
  margin-left: 20px;
}

nav ul li {
  position: relative; /* positioning the border */
}

.link-home {
  text-decoration: none;
  padding: 5px 0;
}

.link-home:hover,
.link-home.active {
  border-bottom: 2px solid #1677ff;
}

/* Switch button icons */
.switch-icons {
  color: #ffffff;
  font-weight: bolder;
}

/* icon margin from label */
span {
  margin-right: 2px;
}

/* Responsive Styles */
.mobile-menu-icon {
  display: none; /* Hidden by default */
  cursor: pointer;
}

@media (max-width: 768px) {
  .mobile-menu-icon {
    display: block; /* Show hamburger icon on small screens */
    font-size: 23px;
  }

  nav ul {
    width: 200px;
    height: 220px;
    flex-direction: column;
    display: none; /* Hidden by default */
    position: absolute;
    top: 60px; /* Adjust based on your navbar height */
    left: 10;
    right: 0;
    background-color: inherit;
    padding: 10px;
    z-index: 999; /* Ensure it's above other content */
  }

  nav ul.open {
    display: flex; /* Show when open */
  }

  nav ul li {
    margin: 10px 0; /* Spacing between items */
    text-align: center;
  }

  .custom-input {
    width: 200px;
    height: 37px;
  }
}
